/* ---------------- All categories ---------------- */
.home {
  display: flex;
  flex-direction: column;

  padding-top: 40px;
  padding-bottom: 80px;
}

.category-list {
  width: 100%;
  height: 228px;
  overflow: auto;
}

.category-list-link {
  display: block;

  font-size: 16px;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: -0.32px;

  color: currentColor;
}

.category-list-link:is(:hover, :focus),
.current-category {
  text-transform: uppercase;

  color: var(--primary-color);
}

body.dark-theme .category-list-link:is(:hover, :focus) {
  color: var(--yellow-color);
}

body.dark-theme .current-category {
  color: var(--yellow-color);
}

.category-list-item:not(:last-child) {
  margin-bottom: 24px;
}

.home-wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.books-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.best-sellers {
  margin-bottom: 40px;
}

.best-sellers-title,
.open-category-title {
  margin-bottom: 40px;

  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -1.28px;
}

.best-sellers-title-item,
.open-category-title-item {
  color: var(--primary-color);
}

.books-list-by-category {
  width: 100%;
  overflow: hidden;
  margin-bottom: 8px;
}

.books-list-category {
  display: block;

  width: 100%;
}

.books-list-item {
  display: flex;
  flex-direction: column;
}

.book-item-descr {
  overflow: hidden;
}

.books-category-title {
  margin-bottom: 18px;

  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: 0.42px;
  text-transform: uppercase;

  color: var(--text-sub-color);
}

.book-item-title {
  margin-bottom: 4px;

  letter-spacing: 0.42px;
  text-transform: uppercase;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-item-author {
  font-size: 12px;
  font-style: italic;
  line-height: 1.17;
  letter-spacing: -0.48px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: var(--text-sub-color);
}

.book-img-wrap-item {
  position: relative;

  border-radius: 8px;
  margin-bottom: 14px;

  overflow: hidden;
}

.book-item-img {
  width: 100%;
  height: 485px;
}

.book-overley {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);

  width: 100%;
  padding: 26px;

  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.56px;
  text-transform: uppercase;

  background-color: var(--yellow-color);

  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.book-item-link,
.category-list-link {
  outline: transparent;
}

.book-item-link:is(:hover, :focus) .book-overley {
  transform: translateY(0);
}

.see-more-btn {
  display: block;

  min-width: 124px;
  height: 46px;
  border: 2px solid var(--primary-color);
  border-radius: 40px;
  padding: 8px;
  margin-left: auto;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.14px;
  text-transform: uppercase;

  color: currentColor;
  background-color: transparent;

  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
}

.see-more-btn:is(:hover, :focus) {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.open-category-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
}

.category-list::-webkit-scrollbar-track {
  border-radius: 10px;

  background-color: #f1f1f1;
}

.category-list::-webkit-scrollbar-thumb {
  border-radius: 10px;

  background-color: #888;
}

.category-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.category-list::-webkit-scrollbar {
  width: 8px;
}

.category-list::-webkit-scrollbar-track {
  border-radius: 10px;

  background-color: #f1f1f1;
  box-shadow: inset 0 0 5px grey;
}

.category-list::-webkit-scrollbar-thumb {
  border: 1px solid #f1f1f1;
  border-radius: 10px;

  background-color: #888;
}

.category-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.category-list {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

@media screen and (max-width: 767px) {
  .home {
    margin-top: 66px;
  }

  .home-wrap {
    margin-bottom: 40px;
  }

  .books-list-item-category:not(:nth-child(1)) {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .category-list {
    width: 337px;
    height: 472px;
  }

  .category-list-link {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .category-list-item:not(:last-child) {
    margin-bottom: 32px;
  }

  .books-list-by-category {
    display: flex;
    gap: 24px;

    margin-bottom: 20px;
  }

  .books-list-item {
    width: calc((100% - 48px) / 3);
  }

  .book-item-img {
    height: 316px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .home {
    display: flex;
  }

  .home-wrap {
    flex-direction: row;
    gap: 32px;

    margin-bottom: 98px;
  }

  .books-list-item-category:not(:nth-child(-n + 3)) {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .home {
    flex-direction: row;
    justify-content: space-between;
  }

  .category-list {
    width: 356px;
  }

  .home-wrap {
    gap: 86px;
  }

  .books-list-wrap,
  .open-category-books-list {
    width: 996px;
  }

  .books-list-item {
    width: calc((100% - 96px) / 5);
  }

  .book-item-img {
    height: 256px;
  }

  .books-list-item-category:not(:nth-child(-n + 5)) {
    display: none;
  }
}
