/* ---------------- HEADER ---------------- */
.header {
  width: 100%;
  border: 1.5px solid var(--text-black-color);
  border-radius: 0px 0px 8px 8px;
  padding: 18px 0;
}

body.dark-theme .header {
  border-color: var(--white-color);
}

@media screen and (max-width: 767px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    background-color: var(--light-theme-color);
  }

  body.dark-theme .header {
    background-color: var(--dark-theme-color);
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 14px 0;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

@media screen and (min-width: 1440px) {
  .header-nav {
    gap: 76px;
  }
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-logo-text {
  fill: currentColor;
}

.header-nav-menu {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media screen and (max-width: 767px) {
  .header-nav-menu {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .header-nav-menu {
    gap: 16px;
  }
}

.header-nav-link {
  display: block;
  text-align: center;

  min-width: 72px;
  border-radius: 36px;
  padding: 8px 16px;

  font-family: inherit;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.56px;
  text-transform: uppercase;

  color: currentColor;
  background-color: transparent;

  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    font-weight var(--transition-duration) var(--transition-timing-function);
}

.header-nav-link:is(:hover, :focus, :active),
.header-nav-link.current-page {
  font-weight: 700;

  color: var(--text-black-color);
  background-color: var(--yellow-color);
}

.nav-link-shoppinglist {
  display: flex;
  align-items: center;
  gap: 4px;
}

@media screen and (min-width: 768px) {
  .nav-link-shoppinglist {
    gap: 8px;
  }
}

.shopping-list-bag {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .header-wrap {
    display: flex;
    gap: 24px;
  }
}

.toolbar {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .toolbar {
    gap: 14px;
  }
}

.header-btn-style {
  display: flex;
  align-items: center;
}

.theme-switch-control {
  position: relative;

  display: flex;
  align-items: center;
  flex-shrink: 0;

  width: 40px;
  height: 20px;

  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch-toggle {
  position: absolute;
  left: 0;
  top: 0;

  width: 0;
  height: 0;
  padding: 0;
  margin: 0;

  opacity: 0;
  pointer-events: none;
}

.theme-switch-track {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
  border-radius: inherit;

  user-select: none;
  cursor: pointer;

  color: transparent;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.theme-switch-marker {
  position: relative;
  z-index: 2;
  transform: translateX(1px);

  width: 18px;
  height: 18px;
  border-radius: 50%;

  pointer-events: none;

  background-color: var(--white-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);

  transition: 0.3s linear;
}

.theme-switch-toggle:checked + .theme-switch-track {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
}

.theme-switch-toggle:checked ~ .theme-switch-marker {
  transform: translateX(21px);
}

.sign-up-btn {
  justify-content: space-between;

  min-width: 184px;
  border: 1.5px solid var(--text-black-color);
  border-radius: 18px;
  padding: 14px;

  color: var(--white-color);
  background: var(--primary-color);
}

.btn-user-photo,
.arrow-down {
  display: none;
}

.log-out {
  border-radius: 18px;
  border: 1.5px solid var(--text-black-color);
  padding: 14px;

  background: var(--white-color);
}

@media screen and (min-width: 768px) {
  .log-out {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    transform: translateY(100%);

    justify-content: space-between;

    width: 100%;

    background-color: var(--white-color);
  }

  .log-out.is-hidden {
    transform: translateY(0);

    transition: transform var(--transition-duration)
      var(--transition-timing-function);
  }

  .header-authorization {
    position: relative;
  }
}

.user-in {
  display: flex;
  align-items: center;
  justify-content: start;

  width: 184px;
  height: 45px;
  border: none;
  border-radius: 36px;

  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.44px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: var(--white-color);
  background: var(--primary-color);
}

.btn-user-photo,
.arrow-down {
  display: none;
}

.user-in .btn-user-photo {
  display: block;

  margin-right: 8px;
}

.user-in .arrow-down {
  display: block;
}

.user-in .arrow-right {
  display: none;
}

.login-btn-text {
  margin-right: auto;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 767px) {
  .header-authorization {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 28px;
    height: 28px;
    padding: 0;
    border: none;

    color: currentColor;
    background-color: transparent;

    transition: color var(--transition-duration)
      var(--transition-timing-function);
  }

  .mobile-menu-btn:is(:hover, :focus, :active) {
    color: var(--primary-color);
  }

  .mobile-menu-btn-icon {
    fill: currentColor;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}
