/* ---------------- HEADER ---------------- */
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 18px 0;
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid var(--text-black-color);
}

body.dark-theme .header {
  border: 1.5px solid var(--white-color);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body.dark-theme .logo-text {
  fill: var(--white-color);
}

.logo-link {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 8px;
}

.header-btn-container {
  display: flex;
  align-items: center;
  gap: 14px;
}

.log-in-out-container {
  position: relative;
}

/* THEME SWITCH */

.theme-switch-control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch-toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch-track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch-marker {
  position: relative;
  background-color: var(--white-color);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(1px);
  transition: 0.3s linear;
}

.theme-switch-toggle:checked + .theme-switch-track {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
}

.theme-switch-toggle:checked ~ .theme-switch-marker {
  transform: translateX(21px);
}

.mobile-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: transparent;
}

.mobile-menu-btn-icon:hover {
  fill: var(--primary-color);
}

body.dark-theme .menu-open {
  fill: var(--white-color);
}

body.dark-theme .mobile-menu-btn-icon:hover .menu-open {
  fill: var(--primary-color);
}

@media screen and (max-width: 767px) {
  .header-nav-container {
    display: none;
  }

  .sign-up {
    display: none;
  }

  .log-in-out-container {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 14px 0 13px 0;
  }

  .header-nav-container {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: 40px;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    border-radius: 36px;
  }

  .header-nav-link {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    background-color: transparent;
    padding: 8px 16px;
    align-items: center;
  }

  .header-nav-link:is(:hover, :focus, :active) {
    font-weight: 700;
    border-radius: 36px;
    background-color: var(--yellow-color);
    transition: background-color var(--transition-duration)
      var(--transition-timing-function);
  }

  .header-nav-link.current-page {
    color: var(--text-black-color);
    font-weight: 700;
    border-radius: 36px;
    background-color: var(--yellow-color);
    transition: background-color var(--transition-duration)
      var(--transition-timing-function);
  }

  body.dark-theme .header-nav-link.current-page {
    color: var(--text-black-color);
  }

  body.dark-theme .header-nav-link:is(:hover, :focus, :active) {
    color: var(--text-black-color);
  }

  body.dark-theme .shopping-list-bag {
    fill: var(--white-color);
  }

  body.dark-theme
    .header-nav-link:is(:hover, :focus, :active)
    .shopping-list-bag {
    fill: var(--text-black-color);
  }

  .shopping-list-bag {
    margin-left: 8px;
  }

  .mobile-menu-btn.js-open-menu {
    display: none;
  }

  .header-btn-container {
    gap: 24px;
    margin-left: auto;
  }

  .header-btn-style {
    display: flex;
    align-items: center;
    font-weight: 500;
    justify-content: space-between;
    width: 184px;
    height: 45px;
    padding: 15px 14px;
    text-align: left;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.56px;
  }

  .signup-svg {
    width: 20px;
    height: 20px;
  }

  .arrow-right {
    display: none;
  }

  .signup-svg-arrowdown {
    width: 23px;
    height: 26px;
  }

  .sign-up {
    padding: 15px 14px;
    border-radius: 18px;
    border: 1.5px solid var(--text-black-color);
    color: var(--white-color);
    background: var(--primary-color);
  }

  .user-in {
    width: 184px;
    height: 45px;
    border-radius: 36px;
    font-size: 22px;

    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.44px;

    border: none;
    color: var(--white-color);
    background: var(--primary-color);
  }

  .log-out.is-hidden {
    transform: translateY(0%);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .log-out {
    position: absolute;
    top: 0;
    z-index: -1;
    border-radius: 18px;
    padding: 15px 14px;
    border: 1.5px solid var(--text-black-color);
    background: var(--white-color);
    transform: translateY(110%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1440px) {
  .header-nav-container {
    margin-left: 76px;
  }
}
