/* ---------------- LOADER ---------------- */
.loader {
  position: relative;
  transform: scale(0.5, 0.5);
  perspective: 1000px;

  display: block;
  box-sizing: border-box;

  width: 200px;
  height: 140px;
  border-radius: 8px;

  background-color: #979794;
}

.loader:before {
  content: '';

  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;

  border-radius: 8px;

  background: #f5f5f5 no-repeat;
  background-size: 60px 10px;
  background-image: linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0);
  background-position: 15px 30px, 15px 60px, 15px 90px, 105px 30px, 105px 60px,
    105px 90px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.loader:after {
  content: '';

  position: absolute;
  right: 10px;
  top: 10px;
  bottom: 10px;
  transform: rotateY(0);
  transform-origin: left center;

  width: calc(50% - 10px);
  border-radius: 8px;

  background: #fff no-repeat;
  background-size: 60px 10px;
  background-image: linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0);
  background-position: 50% 30px, 50% 60px, 50% 90px;

  animation: paging 1s linear infinite;
}

.loader-wrap.common-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 200px;

  background-color: var(--light-theme-color);
}

@media screen and (min-width: 1440px) {
  .loader-wrap.common-loader {
    transform: translate(0, -50%);

    width: 300px;
    height: 250px;
  }
}

@keyframes paging {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(-180deg);
  }
}
