/* ---------------- MOBILE MENU ---------------- */
.mobile-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .mobile-menu.is-hidden-mobile-menu {
    transform: scaleY(0);

    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transform: scaleY(1);
    transform-origin: top;

    display: flex;
    flex-direction: column;
    align-items: start;

    width: 100vw;
    height: 100vh;

    visibility: visible;
    opacity: 1;

    background-image: url(../img/mob-menu-img.png), var(--mob-menu-gradient);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;

    transition: visibility var(--transition-duration)
        var(--transition-timing-function),
      opacity var(--transition-duration) var(--transition-timing-function),
      transform var(--transition-duration) var(--transition-timing-function);
  }

  @supports (background-image: url('../img/mob-menu-img.webp')) {
    .mobile-menu {
      background-image: url('../img/mob-menu-img.webp'),
        var(--mob-menu-gradient);
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .mobile-menu {
      background-image: url('../img/mob-menu-img@2x.png'),
        var(--mob-menu-gradient);
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @supports (background-image: url('../img/mob-menu-img@2x.webp')) {
      .mobile-menu {
        background-image: url('../img/mob-menu-img@2x.webp'),
          var(--mob-menu-gradient);
      }
    }
  }

  .mobile-menu-container {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 100%;
    height: 100%;
    padding: 20px;
  }

  .mobile-menu-nav {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 8px;

    margin-left: auto;
    margin-right: auto;
  }

  .mobile-menu-nav-link {
    color: var(--white-color);
  }

  .mobile-menu-sign-up-btn {
    margin-top: 74px;
    margin-bottom: 126px;
  }

  .mobile-menu-log-out {
    justify-content: space-between;

    min-width: 118px;
    margin-top: auto;
  }
}
