/* ---------------- SCROLL UP ---------------- */
.scroll-up-btn {
  position: fixed;
  bottom: 67px;
  right: 20px;
  z-index: 1;

  display: block;

  border: none;
  border-radius: 50%;
  padding: 0;
  margin: 0;

  line-height: 0;

  background: transparent;
}

.scroll-up-btn:hover {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.scroll-up-icon {
  width: 64px;
  height: 64px;
}
