.scroll-up-btn {
  position: fixed;
  bottom: 67px;
  right: 20px;
  z-index: 1;

  display: block;

  border: none;
  border-radius: 50%;
  padding: 0;
  margin: 0;

  line-height: 0;

  background: transparent;

  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
}

.scroll-up-btn:is(:hover, :focus) {
  box-shadow: var(--box-shadow-btn);
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.scroll-up-icon {
  width: 64px;
  height: 64px;
}
