/* ---------------- SHOPPING LIST ---------------- */
.shopping-list {
  padding-top: 40px;
  padding-bottom: 40px;
}

.shopping-list-title {
  margin-bottom: 40px;

  font-size: 32px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: -1.28px;
}

.shopping-list-title-item {
  color: var(--primary-color);
}

.empty-shopping-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;

  width: 100%;
  margin-top: 120px;
}

.shopping-list-text-empty {
  max-width: 244px;

  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.28px;

  color: rgba(0, 0, 0, 0.6);
}

body.dark-theme .shopping-list-text-empty {
  color: rgba(255, 255, 255, 0.6);
}

.shopping-list-empty-img {
  width: 264px;
  height: 198px;
}

.shopping-list-card {
  position: relative;

  display: flex;
  gap: 14px;

  width: 100%;
  height: 170px;
  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  padding: 14px;
}

.shopping-list-card:not(:last-child) {
  margin-bottom: 20px;
}

.card-img-wrap {
  flex-shrink: 0;
  width: 100px;
  height: 142px;
  border-radius: 8px;

  overflow: hidden;
}

.shopping-list-card-img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.shopping-list-card-descr {
  display: flex;
  flex-direction: column;

  width: 100%;

  overflow: hidden;
}

.shopping-list-card-title {
  max-width: 84%;
  margin-bottom: 4px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shopping-list-card-category {
  max-width: 84%;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  margin-bottom: 4px;

  color: var(--text-sub-color);
}

.shopping-list-card-description {
  height: 68px;
  margin-bottom: auto;

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.56px;

  overflow: auto;
}

.shopping-list-card-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.shopping-list-card-author {
  font-size: 12px;
  font-style: italic;
  line-height: 1.17;
  letter-spacing: -0.48px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: var(--text-sub-color);
}

.shopping-list-card-linkshop {
  display: flex;
  align-items: center;
  gap: 8px;
}

body.dark-theme .shopping-list-amazon-img {
  filter: invert(1);
}

.shop-link:is(:hover, :focus) .shopping-list-amazon-img,
.shopping-list-applebook-img,
.shopping-list-bookshop-img {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
}

.shop-icon:hover {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}

.button-delete {
  position: absolute;
  top: 14px;
  right: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;

  background-color: var(--primary-color);
}

@media screen and (max-width: 1439px) {
  .shopping-list-support-ukraine {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .shopping-list-title {
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -1.92px;
  }

  .empty-shopping-list {
    gap: 20px;

    margin-top: 140px;
  }

  .shopping-list-text-empty {
    max-width: 348px;

    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }

  .shopping-list-empty-img {
    width: 322px;
    height: 240px;
  }

  .shopping-list-card {
    gap: 24px;

    height: 212px;
    padding: 24px;
  }

  .card-img-wrap {
    width: 116px;
    height: 164px;
  }

  .shopping-list-card-category {
    margin-bottom: 14px;
  }

  .shopping-list-card-description {
    height: 52px;
  }

  .shopping-list-card-linkshop {
    gap: 16px;
  }

  .button-delete {
    top: 24px;
    right: 24px;

    width: 34px;
    height: 34px;
  }

  .shopping-list-amazon-img {
    width: 48px;
    height: 16px;
  }

  .shopping-list-applebook-img,
  .shopping-list-bookshop-img {
    width: 28px;
    height: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .shopping-list {
    display: flex;
    gap: 40px;
  }

  .shopping-list-container {
    width: 100%;
    max-width: 996px;
  }
}

@media screen and (max-width: 767px) {
  .shopping-list {
    padding-top: 106px;
  }
}
