.conteiner-support {
  flex-shrink: 0;
}

.conteiner-support {
  border-radius: 16px;

  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );
  box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1);
}

.conteiner-title-support {
  display: flex;
  align-items: center;
  gap: 12px;
}

.title-support {
  font-style: normal;
  font-weight: 700;

  color: #fff;
}

.title-item-support {
  font-style: normal;

  color: #fff;
}

.slider-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slider-item {
  width: 100%;
  height: 32px;
}

.link-support {
  display: flex;
  align-items: center;
  gap: 16px;
}

.slider {
  position: relative;

  margin-top: 40px;
  overflow: hidden;
}

.slider-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  line-height: 1;

  color: var(--primary-color);
  background-color: var(--white-color);
}

.slider-btn-prev {
  display: none;
}

.slider-btn-icon {
  width: 22px;
  height: 22px;

  fill: currentColor;

  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.slider-btn:is(:hover, :focus, :active) .btn-next-icon {
  transform: scale(1.1);
}

.btn-prev-icon {
  transform: rotateX(180deg);
}

.slider-btn:is(:hover, :focus, :active) .btn-prev-icon {
  transform: rotateX(180deg) scale(1.1);
}

.image-support {
  filter: brightness(0) invert(1);

  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.link-support:is(:hover, :focus) .image-support {
  transform: scale(1.07);
}

@media screen and (max-width: 767px) {
  .conteiner-support {
    max-width: 335px;
    height: 352px;
    padding: 24px 40px 20px 40px;
  }

  .title-support {
    font-size: 22px;
    line-height: 1.09;
    letter-spacing: -0.88px;
  }

  .slider {
    height: 188px;
  }

  .slider-item {
    height: 32px;
  }

  .slider-btn {
    margin-top: 16px;
  }

  .title-item-support {
    font-size: 14px;
    letter-spacing: -0.56px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner-support {
    width: 335px;
    height: 474px;
    padding: 24px 40px;
  }

  .title-support {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.96px;
  }

  .slider {
    width: 100%;
    height: 292px;
  }

  .slider-btn {
    width: 38px;
    height: 38px;
    margin-top: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .conteiner-support {
    width: 356px;
  }
}
