<div>
    <div class="home-container">
        <div class="wrapper-category-list">
            <div class="category-list light-theme" id="categoryList"></div>
            <div class="support">import from './support-ukraine.html'</div>
        </div>
        <div class="books-card-wrapper">
            <div class="categories" id="categories">
                <h1 class="title-category"> <span class="title-category-span"></span></h1>

            </div>
            <div class="books" id="books">

            </div>
        </div>
    </div>
</div>