<header class="header">
  <div class="header-container container">
    <a href="./index.html" class="logo-link link">
      <svg class="header-logo-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-logo" class="icon-logo"></use>
      </svg>
      <svg class="header-logo-text" width="77" height="13">
        <use href="./img/icons.svg#bookshelf" class="logo-text"></use>
      </svg>
    </a>
    <div class="toolbar">
      <div class="theme-switch-control">
        <input
          class="theme-switch-toggle"
          type="checkbox"
          name="theme"
          id="theme-switch-toggle"
          aria-label="Chenge theme"
        />
        <label
          aria-hidden="true"
          class="theme-switch-track"
          for="theme-switch-toggle"
        >
        </label>
        <div aria-hidden="true" class="theme-switch-marker"></div>
      </div>
      <button
        class="mobile-menu-btn js-open-menu"
        data-menu-button
        aria-expanded="false"
      >
        <svg class="mobile-menu-btn-icon" width="28" height="28">
          <use href="./img/icons.svg#menu-open" class="menu-open"></use>
          <use href="./img/icons.svg#x-close" class="menu-close"></use>
        </svg>
      </button>
    </div>

    <nav class="header-nav-menu">
      <ul class="header-nav-container">
        <li class="header-nav-list">
          <a
            href="./index.html"
            class="header-nav-link header-nav-link-home current-page link"
            >home</a
          >
        </li>
        <li class="header-nav-list">
          <a
            href="./shopping-list.html"
            class="header-nav-link link header-nav-link-shoppinglist"
            >Shopping list
            <svg class="shopping-list-bag" width="20" height="20">
              <use href="./img/icons.svg#bag" class="bag"></use>
              <use
                href="./img/mobile-menu-icon.svg#icon-bag-white"
                class="white-bag"
              ></use>
            </svg>
          </a>
        </li>
      </ul>

      <div class="log-in-out-container">
        <button
          data-login-button
          type="button"
          class="header-btn-style sign-up"
        >
          <img
            class="btn-user-photo"
            src="./img/header-log-in-user-foto.png"
            alt="user photo"
          />
          <span class="login-btn-text">Sign up</span>
          <svg class="signup-svg" width="20" height="20">
            <use href="./img/icons.svg#arrow-right" class="arrow-right"></use>
            <use href="./img/icons.svg#log-down" class="arrow-down"></use>
          </svg>
        </button>

        <button
          type="button"
          class="log-out header-btn-style is-hidden"
          data-logout-button
        >
          Log out
          <svg class="arrow-right-icon" width="20" height="20">
            <use href="./img/icons.svg#arrow-right" class=""></use>
          </svg>
        </button>
      </div>
    </nav>
  </div>
</header>
