<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <a href="./index.html" class="logo-link link" aria-label="Website logo">
        <svg class="header-logo-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-logo" class="icon-logo"></use>
        </svg>
        <svg class="header-logo-text" width="77" height="13">
          <use href="./img/icons.svg#bookshelf" class="logo-text"></use>
        </svg>
      </a>

      <ul class="header-nav-menu">
        <li class="header-menu-item">
          <a
            href="/"
            class="header-nav-link nav-link-home current-page link"
            aria-label="Open Home page"
            >Home</a
          >
        </li>
        <li class="header-menu-item">
          <a
            href="./shopping-list.html"
            class="header-nav-link link nav-link-shoppinglist"
            aria-label="Open Shopping list page"
            >Shopping list
            <svg class="shopping-list-bag" width="20" height="20">
              <use href="./img/icons.svg#icon-bag" class="bag"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>

    <div class="header-wrap">
      <div class="toolbar">
        <div class="theme-switch-control">
          <input
            class="theme-switch-toggle"
            type="checkbox"
            name="theme"
            id="theme-switch-toggle"
            aria-label="Change theme"
          />
          <label
            aria-hidden="true"
            class="theme-switch-track"
            for="theme-switch-toggle"
          >
          </label>
          <div aria-hidden="true" class="theme-switch-marker"></div>
        </div>

        <button
          class="mobile-menu-btn js-open-menu js-btn-menu"
          data-menu-button
          aria-label="Mobile menu toggle"
        >
          <svg class="mobile-menu-btn-icon" width="28" height="28">
            <use href="./img/icons.svg#menu-open" class="menu-open"></use>
            <use
              href="./img/icons.svg#x-close"
              class="menu-close visually-hidden"
            ></use>
          </svg>
        </button>
      </div>

      <div class="header-authorization">
        <button
          data-login-button
          type="button"
          class="header-btn-style sign-up-btn sign-up"
          aria-label="Open authorization window"
        >
          <img
            class="btn-user-photo"
            src="./img/header-log-in-user-foto.png"
            alt="user photo"
          />
          <span class="login-btn-text">Sign up</span>
          <svg class="signup-svg" width="20" height="20">
            <use href="./img/icons.svg#arrow-right" class="arrow-right"></use>
            <use href="./img/icons.svg#log-down" class="arrow-down"></use>
          </svg>
        </button>

        <button
          type="button"
          class="log-out header-btn-style is-hidden"
          data-logout-button
          aria-label="Log out"
        >
          Log out
          <svg class="arrow-right-icon" width="20" height="20">
            <use href="./img/icons.svg#arrow-right" class=""></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
