<div class="mobile-menu is-hidden-mobile-menu">
  <div class="mobile-menu-container container">
    <button
      data-login-button
      type="button"
      class="header-btn-style sign-up-btn mobile-menu-sign-up-btn sign-up"
      aria-label="Open authorization window"
    >
      <img
        class="btn-user-photo"
        src="./img/header-log-in-user-foto.png"
        alt="user photo"
      />
      <span class="login-btn-text">Sign up</span>
      <svg class="signup-svg" width="20" height="20">
        <use href="./img/icons.svg#arrow-right" class="arrow-right"></use>
        <use href="./img/icons.svg#log-down" class="arrow-down"></use>
      </svg>
    </button>

    <ul class="mobile-menu-nav">
      <li class="header-menu-item">
        <a
          href="/"
          class="header-nav-link nav-link-home current-page link mobile-menu-nav-link"
          aria-label="Open Home page"
          >Home</a
        >
      </li>
      <li class="header-menu-item">
        <a
          href="./shopping-list.html"
          class="header-nav-link link nav-link-shoppinglist mobile-menu-nav-link"
          aria-label="Open Shopping list page"
          >Shopping list
          <svg class="shopping-list-bag" width="20" height="20">
            <use href="./img/icons.svg#icon-bag" class="bag"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button
      type="button"
      class="log-out header-btn-style mobile-menu-log-out is-hidden"
      data-logout-button
      aria-label="Log out"
    >
      Log out
      <svg class="arrow-right-icon" width="20" height="20">
        <use href="./img/icons.svg#arrow-right" class=""></use>
      </svg>
    </button>
  </div>
</div>
