<div class="mobile-menu ">
    <div class="container-mobile-menu">
        <div class="logo-mobile-menu">
            <a href="./index.html" class="header-logo">
                <img class="header-logo-img" src="../img/logo-mobile-menu.svg" alt="company logo" /></a>
            <a href="./index.html" class="header-logo">
                <img class="header-logoBookshelf-img" src="../img/Bookshelf-mobile-menu.svg" alt="company logo" /></a>
        </div>
        <div class="mobile-menu-buttons">
            <button type="button" class="mobile-menu-switcher" data-menu-close>
                <img class="mobile-menu-change" src="../img/Switcher 2.svg" alt="mobile-menu-switcher" />
            </button>

            <button type="button" class="mobile-menu-close-btn" data-menu-close>
                <!-- <svg class="mobile-menu-close-icon" width="28" height="28">
                <use href="../img/x-close.svg"></use>
            </svg> -->
                <img class="mobile-menu-close-btn" src="../img/x-close.png" alt="mobile-menu-close-btn" />
            </button>
        </div>



        <!--  -->










        <!-- <div class="mobil-meny-box"> -->
        <!-- <ul class="mobil-meny-list list">
                <li class="mobile-meny-nav-item">
                    <a class="mobile-meny-nav-link link menu-link" href="#about">About us</a>
                </li>
                <li class="mobile-meny-nav-item">
                    <a class="mobile-meny-nav-link link menu-link" href="#catalog">Catalog</a>
                </li>
                <li class="mobile-meny-nav-item">
                    <a class="mobile-meny-nav-link link menu-link" href="#sale">Sale</a>
                </li>
            </ul>
        </div> -->







    </div>
</div>