<div class="backdrop-modal is-hidden-modal" data-modal-window>
  <div class="modal-window">
    <div class="modal-wrap"></div>

    <button
      type="button"
      class="modal-btn-add"
      aria-label="Add book to shopping list"
    >
      Add to shopping list
    </button>

    <button
      type="button"
      class="close-btn"
      data-modal-window-close
      aria-label="Close modal window"
    >
      <svg width="24" height="24" class="close-btn-icon">
        <use href="./img/icons.svg#icon-x-close"></use>
      </svg>
    </button>

    <p class="text-notification-of-added visually-hidden">
      Сongratulations! You have added the book to the shopping list. <br />
      To delete, press the button “Remove from the shopping list”.
    </p>
  </div>
</div>
