<div class="conteiner-support">
    <div class="conteiner-title-support">
        <h3 class="title-support title">Support Ukraine</h3>
        <svg width="20" height="32">
            <use href="./img/support.svg#icon-Group-2"></use>
        </svg>
    </div>
    <div class="slider">
        <ul class="slider-list">
            <li class="slider-item">
                <a href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
                    class="link-support link" target="_blank" rel="noopener noreferrer nofollow">
                    <p class="title-item-support">01</p>
                    <img srcset="./img/image1.png 1x, ./img/image1-2x.png 2x" src="./img/image1.png"
                        alt="Save the Children" width="131" height="32" class="image-support" />
                </a>
            </li>
            <li class="slider-item">
                <a href="https://www.projecthope.org/country/ukraine/" class="link-support link" target="_blank"
                    rel="noopener noreferrer nofollow">
                    <p class="title-item-support">02</p>
                    <img srcset="./img/image2.png 1x, ./img/image2-2x.png 2x" src="./img/image2.png" alt="Project HOPE"
                        width="65" height="32" class="image-support" />
                </a>
            </li>
            <li class="slider-item">
                <a href="https://internationalmedicalcorps.org/country/ukraine/" class="link-support link"
                    target="_blank" rel="noopener noreferrer nofollow">
                    <p class="title-item-support">03</p>
                    <img srcset="./img/image3.png 1x, ./img/image3-2x.png 2x" src="./img/image3.png"
                        alt="International Medical Corps" width="117" height="32" class="image-support" />
                </a>
            </li>
            <li class="slider-item">
                <a href="https://www.razomforukraine.org/" class="link-support link" target="_blank"
                    rel="noopener noreferrer nofollow">
                    <p class="title-item-support">04</p>
                    <img srcset="./img/image4.png 1x, ./img/image4-2x.png 2x" src="./img/image4.png" alt="RAZOM"
                        width="95" height="32" class="image-support" />
                </a>
            </li>
            <li class="slider-item">
                <a href="https://www.actionagainsthunger.org/location/europe/ukraine/" class="link-support link"
                    target="_blank" rel="noopener noreferrer nofollow">
                    <p class="title-item-support">05</p>
                    <img srcset="./img/image5.png 1x, ./img/image5-2x.png 2x" src="./img/image5.png"
                        alt="Action against hunger" width="55" height="32" class="image-support" />
                </a>
            </li>
            <li class="slider-item">
                <a href="https://prytulafoundation.org/en" class="link-support link" target="_blank"
                    rel="noopener noreferrer nofollow">
                    <p class="title-item-support">06</p>
                    <img srcset="./img/image6.png 1x, ./img/image6-2x.png 2x" src="./img/image6.png"
                        alt="Serhiy Prytula Charity Foundation" width="115" height="32" class="image-support" />
                </a>
            </li>
            <li class="slider-item">
                <a href="https://www.msf.org/ukraine" class="link-support link" target="_blank"
                    rel="noopener noreferrer nofollow">
                    <p class="title-item-support">07</p>
                    <img srcset="./img/image7.png 1x, ./img/image7-2x.png 2x" src="./img/image7.png"
                        alt="Medicins Sans Frontieres" width="91" height="32" class="image-support" />
                </a>
            </li>
            <li class="slider-item">
                <a href="https://www.wvi.org/emergencies/ukraine" class="link-support link" target="_blank"
                    rel="noopener noreferrer nofollow">
                    <p class="title-item-support">08</p>
                    <img srcset="./img/image8.png 1x, ./img/image8-2x.png 2x" src="./img/image8.png" alt="World vision"
                        width="71" height="32" class="image-support" />
                </a>
            </li>
            <li class="slider-item">
                <a href="https://u24.gov.ua/uk" class="link-support link" target="_blank"
                    rel="noopener noreferrer nofollow">
                    <p class="title-item-support">09</p>
                    <img srcset="./img/image9.png 1x, ./img/image9-2x.png 2x" src="./img/image9.png" alt="UNITED24"
                        width="125" height="32" class="image-support" />
                </a>
            </li>
        </ul>
    </div>
    <button type="button" class="slider-btn-prev">
        <svg width="38" height="38" class="btn-prev-icon">
            <use href="./img/support.svg#icon-slider"></use>
        </svg>
    </button>
    <button type="button" class="slider-btn-next">
        <svg width="38" height="38" class="btn-next-icon">
            <use href="./img/support.svg#icon-slider"></use>
        </svg>
    </button>
</div>