<div class="conteiner-support">
  <div class="conteiner-title-support">
    <h3 class="title-support title">Support Ukraine</h3>
    <svg width="20" height="32">
      <use href="./img/icons.svg#icon-coat-of-arms"></use>
    </svg>
  </div>

  <div class="slider">
    <ul class="slider-list">
      <li class="slider-item">
        <a
          href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
          class="link-support link"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Support Save the Children organization"
        >
          <p class="title-item-support">01</p>

          <picture>
            <source
              srcset="
                ./img/support-image-1.webp    1x,
                ./img/support-image-1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./img/support-image-1.png    1x,
                ./img/support-image-1@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/support-image-1.png"
              alt="Save the Children"
              width="131"
              height="32"
              loading="lazy"
              class="image-support"
            />
          </picture>
        </a>
      </li>

      <li class="slider-item">
        <a
          href="https://www.projecthope.org/country/ukraine/"
          class="link-support link"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Support Project HOPE organization"
        >
          <p class="title-item-support">02</p>

          <picture>
            <source
              srcset="
                ./img/support-image-2.webp    1x,
                ./img/support-image-2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./img/support-image-2.png    1x,
                ./img/support-image-2@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/support-image-2.png"
              alt="Project HOPE"
              width="65"
              height="32"
              loading="lazy"
              class="image-support"
            />
          </picture>
        </a>
      </li>

      <li class="slider-item">
        <a
          href="https://internationalmedicalcorps.org/country/ukraine/"
          class="link-support link"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Support International Medical Corps organization"
        >
          <p class="title-item-support">03</p>

          <picture>
            <source
              srcset="
                ./img/support-image-3.webp    1x,
                ./img/support-image-3@2x.webp 2x
              "
              type="image/webp" />
            <source
              srcset="
                ./img/support-image-3.png    1x,
                ./img/support-image-3@2x.png 2x
              "
              type="image/png" />
            <img
              src="./img/support-image-3.png"
              alt="International Medical Corps"
              width="117"
              height="32"
              loading="lazy"
              class="image-support"
          /></picture>
        </a>
      </li>

      <li class="slider-item">
        <a
          href="https://www.razomforukraine.org/"
          class="link-support link"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Support RAZOM organization"
        >
          <p class="title-item-support">04</p>

          <picture>
            <source
              srcset="
                ./img/support-image-4.webp    1x,
                ./img/support-image-4@2x.webp 2x
              "
              type="image/webp" />
            <source
              srcset="
                ./img/support-image-4.png    1x,
                ./img/support-image-4@2x.png 2x
              "
              type="image/png" />
            <img
              src="./img/support-image-4.png"
              alt="RAZOM"
              width="95"
              height="32"
              loading="lazy"
              class="image-support"
          /></picture>
        </a>
      </li>

      <li class="slider-item">
        <a
          href="https://www.actionagainsthunger.org/location/europe/ukraine/"
          class="link-support link"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Support Action against hunger organization"
        >
          <p class="title-item-support">05</p>

          <picture>
            <source
              srcset="
                ./img/support-image-5.webp    1x,
                ./img/support-image-5@2x.webp 2x
              "
              type="image/webp" />
            <source
              srcset="
                ./img/support-image-5.png    1x,
                ./img/support-image-5@2x.png 2x
              "
              type="image/png" />
            <img
              src="./img/support-image-5.png"
              alt="Action against hunger"
              width="55"
              height="32"
              loading="lazy"
              class="image-support"
          /></picture>
        </a>
      </li>

      <li class="slider-item">
        <a
          href="https://prytulafoundation.org/en"
          class="link-support link"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Support Serhiy Prytula Charity Foundation organization"
        >
          <p class="title-item-support">06</p>

          <picture>
            <source
              srcset="
                ./img/support-image-6.webp    1x,
                ./img/support-image-6@2x.webp 2x
              "
              type="image/webp" />
            <source
              srcset="
                ./img/support-image-6.png    1x,
                ./img/support-image-6@2x.png 2x
              "
              type="image/png" />
            <img
              src="./img/support-image-6.png"
              alt="Serhiy Prytula Charity Foundation"
              width="115"
              height="32"
              loading="lazy"
              class="image-support"
          /></picture>
        </a>
      </li>

      <li class="slider-item">
        <a
          href="https://www.msf.org/ukraine"
          class="link-support link"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Support Medicins Sans Frontieres organization"
        >
          <p class="title-item-support">07</p>

          <picture>
            <source
              srcset="
                ./img/support-image-7.webp    1x,
                ./img/support-image-7@2x.webp 2x
              "
              type="image/webp" />
            <source
              srcset="
                ./img/support-image-7.png    1x,
                ./img/support-image-7@2x.png 2x
              "
              type="image/png" />
            <img
              src="./img/support-image-7.png"
              alt="Medicins Sans Frontieres"
              width="91"
              height="32"
              loading="lazy"
              class="image-support"
          /></picture>
        </a>
      </li>

      <li class="slider-item">
        <a
          href="https://www.wvi.org/emergencies/ukraine"
          class="link-support link"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Support World vision organization"
        >
          <p class="title-item-support">08</p>

          <picture>
            <source
              srcset="
                ./img/support-image-8.webp    1x,
                ./img/support-image-8@2x.webp 2x
              "
              type="image/webp" />
            <source
              srcset="
                ./img/support-image-8.png    1x,
                ./img/support-image-8@2x.png 2x
              "
              type="image/png" />
            <img
              src="./img/support-image-8.png"
              alt="World vision"
              width="71"
              height="32"
              loading="lazy"
              class="image-support"
          /></picture>
        </a>
      </li>

      <li class="slider-item">
        <a
          href="https://u24.gov.ua/uk"
          class="link-support link"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Support UNITED24 organization"
        >
          <p class="title-item-support">09</p>

          <picture>
            <source
              srcset="
                ./img/support-image-9.webp    1x,
                ./img/support-image-9@2x.webp 2x
              "
              type="image/webp" />
            <source
              srcset="
                ./img/support-image-9.png    1x,
                ./img/support-image-9@2x.png 2x
              "
              type="image/png" />
            <img
              src="./img/support-image-9.png"
              alt="UNITED24"
              width="125"
              height="32"
              loading="lazy"
              class="image-support"
          /></picture>
        </a>
      </li>
    </ul>
  </div>

  <button
    type="button"
    class="slider-btn-prev slider-btn"
    aria-label="Previous slider item"
  >
    <svg width="20" height="20" class="btn-prev-icon slider-btn-icon">
      <use href="./img/icons.svg#icon-slider"></use>
    </svg>
  </button>

  <button
    type="button"
    class="slider-btn-next slider-btn"
    aria-label="Next slider item"
  >
    <svg width="20" height="20" class="btn-next-icon slider-btn-icon">
      <use href="./img/icons.svg#icon-slider"></use>
    </svg>
  </button>
</div>
