<div class="conteiner-support">
    <div class="conteiner-title">
        <h3 class="title">Support Ukraine</h3>
        <svg width="20" height="32">
            <use href="../img/icons.svg#icon-Group-2"></use>
        </svg>
    </div>
    <div class="slider">
        <ul class="slider-list">
            <li class="slider-item">
                <a href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis" class="link">
                    <p class="title-item">01</p>
                    <img class="image" src="../img/image1.png" alt="Save the Children" width="131" height="32" />
                </a>
            </li>
            <li class="slider-item">
                <a href="https://www.projecthope.org/country/ukraine/" class="link">
                    <p class="title-item">02</p>
                    <img src="../img/image2.png" alt="Project HOPE" width="65" height="32" />
                </a>
            </li>
            <li class="slider-item">
                <a href="https://internationalmedicalcorps.org/country/ukraine/" class="link">
                    <p class="title-item">03</p>
                    <img src="../img/image3.png" alt="International Medical Corps" width="117" height="32" />
                </a>
            </li>
            <li class="slider-item">
                <a href="https://www.razomforukraine.org/" class="link">
                    <p class="title-item">04</p>
                    <img src="../img/image4.png" alt="RAZOM" width="95" height="32" />
                </a>
            </li>
            <li class="slider-item">
                <a href="https://www.actionagainsthunger.org/location/europe/ukraine/" class="link">
                    <p class="title-item">05</p>
                    <img src="../img/image5.png" alt="Action against hunger" width="55" height="32" />
                </a>
            </li>
            <li class="slider-item">
                <a href="https://prytulafoundation.org/en" class="link">
                    <p class="title-item">06</p>
                    <img src="../img/image6.png" alt="Serhiy Prytula Charity Foundation" width="115" height="32" />
                </a>
            </li>
            <li class="slider-item">
                <a href="https://www.msf.org/ukraine" class="link">
                    <p class="title-item">07</p>
                    <img src="../img/image7.png" alt="Medicins Sans Frontieres" width="91" height="32" />
                </a>
            </li>
            <li class="slider-item">
                <a href="https://www.wvi.org/emergencies/ukraine" class="link">
                    <p class="title-item">08</p>
                    <img src="../img/image8.png" alt="World vision" width="71" height="32" />
                </a>
            </li>
            <li class="slider-item">
                <a href="https://u24.gov.ua/uk" class="link">
                    <p class="title-item">09</p>
                    <img src="../img/image9.png" alt="UNITED24" width="125" height="32" />
                </a>
            </li>
        </ul>
    </div>
    <button type="button" class="slider-btn-prev">
        <svg width="38" height="38" class="btn-prev-icon">
            <use href="../img/icons.svg#icon-slider"></use>
        </svg>
    </button>
    <button type="button" class="slider-btn-next">
        <svg width="38" height="38" class="btn-next-icon">
            <use href="../img/icons.svg#icon-slider"></use>
        </svg>
    </button>
</div>